@model IEnumerable<AspCoreEntityPostgres.Models.Otdel>

<tbody id="otdels">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOtdel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadOtdel.UserFIO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOtdel">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.IdOtdel">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOtdel">Удалить</a>
            </td>
        </tr>
    }
</tbody>