@model IEnumerable<AspCoreEntityPostgres.Models.Otdel>

@{
    ViewData["Title"] = "Index";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
        // Заполняем таблицу должностей по IdOtdel
        $('#searching').on('input', function () 
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetOtdels")/' + id,
                success: function (data) {
                    // заменяем содержимое присланным частичным представлением
                    $('#otdels').replaceWith(data);
                }
            });
        });
    })
    </script>
}

<h1>Отделы</h1>
<div style="float:left;">
    <a asp-action="Create">Создать новый</a>
</div>
<div style="float:left;">
    @Html.TextBox("searching", null, new { @placeholder = "Найти по названию", @id = "searching", @class = "form-control" })
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Название подразделения
            </th>
            <th>
                Руководитель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="otdels">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOtdel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeadOtdel.UserFIO)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdOtdel">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.IdOtdel">Подробно</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdOtdel">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>