@model IEnumerable<AspCoreEntityPostgres.Models.Otdel>

@{
    ViewData["Title"] = "Index";
}

<h1>Отделы</h1>

<p>
    <a asp-action="Create">Добавить отдел</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Название подразделения
            </th>
            <th>
                Руководитель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOtdel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeadOtdel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Otdel">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Otdel">Подробно</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Otdel">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>